* {
    font-family: 'Roboto', sans-serif;
    /* color: #ffffff; */
}
p {
    margin: 3px;
}
body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}
header {     
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-topo-esquerdo {
    width: 80px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
#menu_youtube {
    margin-right: 8px;
    padding: 10px;
    cursor: pointer;
}   
#youtube_logo {
    padding: 10px;  
}
.menu-topo-meio {
    background-color: #ffffff;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    /* border: 1px solid rgb(97, 95, 95); */
}
#busca {
    width: 340px;
    height: 32px;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    color: #000000;
}
.menu-topo-direito {
    display: flex;
    justify-content:space-around;
    padding: 14px;
    border: 1px solid red;
    background-color: #ffffff;
    cursor: pointer;

}
main {
    width: 1324px;
    height: 850px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
main h3 {
    font-size: 20px;
}
iframe {
    box-shadow: -1px 0px 9px 3px rgb(255, 255, 255);
    border-radius: 10px;
}
.frame {
    background-color: rgb(255, 255, 255);
    width: 957px;
    height: 850px;
}
.video-acoes {
    width: 902px;
    height: 42px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.inscritos, .like, .deslike, .compartilhar, .download {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
button {
    background: #010101;
    color: #ffffff;
    border: 1px #010101;
    border-radius: 25px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.playlist {
    background-color: rgb(152, 151, 151);
    width: 450px;
    height: 810px;
    border-radius: 10px;
    margin-left: 10px;
}
.mix {
   text-align: center;
}
.mix h3, h4 {
    margin: 5px;
    padding: 2px;
}
.list {
    background-color: #ffffff;
    width: 450px;
    height: 810px;
    overflow: scroll;
    overflow-x: hidden;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -6px;
}
.video1 { 
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.825rem;
    padding: 8px;
    line-height: 1.3rem;
    gap: 10px;
}  
.aventura {
    width: 650px;
    background-color: #b2b0b0;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
/* .text {
        padding: 10px;
        margin: solid 1px red;

}  */
